<div class="container-full text-center bg-secondary-subtle">
  <footer class="py-3 my-4">
    <div class="row text-center justify-content-center align-items-center">
      <h5 class="text-center text-body-secondary text-light" style="width: 50%; border-bottom: solid;">Weather Based Fashion Application</h5>
    </div>

    <div class="row">
      <p class="text-body-secondary"> 
        Logan Zeien, Pi Chandramouli, Hasdi Ryan, Kenji Smith, Srikanth Varama Mudunuri, Andres Puga <br>
        <strong>CS 4300-5300 001</strong> <br>
        <strong>Created By:</strong> Group 1 <br>
        <strong>Created For:</strong> Group 5
      </p>
    </div>

    <div class="row text-center justify-content-center align-items-center">
      <button class="button btn btn-dark p-2" style="width:50%;" onclick="location.href='https://github.com/UCCS-CS4300-5300/group1-spring2024'">
        Our Github Page
      </button>
    </div>
    
  </footer>
</div>