<div class="container-full text-center bg-secondary-subtle">
  <footer class="py-3 my-4">
    <hr>
    <h5 class="text-center text-body-secondary text-light">Weather Based Fashion Application</h5>
    <hr>

    <p>
      Logan Zeien, Pi Chandramouli, Hasdi Ryan, Kenji Smith, Srikanth Varama Mudunuri, Andres Puga <br>
      <strong>CS 4300-5300 001</strong> <br>
      <strong>Created By:</strong> Group 1 <br>
      <strong>Created For:</strong> Group 5
    </p>
    
    <button class="button btn btn-dark p-2 border-bottom" style="width:100%; border-radius: 0px;" onclick="location.href='https://github.com/UCCS-CS4300-5300/group1-spring2024'">
      Our Github Page
    </button>
    
  </footer>
</div>